<header>
<h1><%= @company.name %> games</h1>
</header>
<p id="c_button"><%= link_to "New Game", new_game_path(:company_id => @company.id), { :class => "btn btn-secondary btn-lg" } %></p>

<br><br>

<table class="table table-hover">
<thead id="headd">
<tr>
  <th>Name</th>
  <th>Genre</th>
  <th>Image</th>
  <th>Status</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>
</thead>

<tbody>
  <% @games.each do |game| %>
    <tr>
    <td><%=game.title%></td>
    <td><%=game.genre%></td>
    <td><%=image_tag(game.cover, size: "150x90",alt:"Game Image") %></td>
    <td><%=game.status%></td>
    <td class = "emo"><a class="glyphicon glyphicon-wrench" href="<%= edit_game_path(game) %>" ></a>
    </td>
    <td class = "emo"><a class="glyphicon glyphicon-fire"  data-confirm="Are you sure?" data-method="delete" href="<%= game_path(game.id) %>" ></a></td>
    </tr>
    
  <tbody>
  <% end %>
</table>
<%= link_to 'Back', companies_path , { :class => "btn btn-warning"}%>

